spring:
  datasource:
    url: jdbc:mysql://localhost:3307/cleancode_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: update  # 로컬 개발 환경: update 사용 (테이블 자동 생성/수정)
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    show-sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

server:
  host: localhost
  port: 8080
